<div class="header">
  <div class="container">
    <ul class="nav">
         <a href="about"><li>About</li></a>
         <li>Projects</li>
         <li>Products</li>
         <li>Partners & clients</li>
         <li>Team</li>
         <li>Contact</li>
       </ul>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="main">
      <h1>UCEWP</h1>
      <h3>ukrainian center of environmental and water projects</h3>
      <div>
      <%  render :partial => 'about' %>
      </div>
    </div>
  </div>
</div>

<div class="supporting">
  <div class="container">
    <div class="col">
      <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
      <h2>Software development</h2>
      <p>Make your projects look great and interact beautifully.</p>
      <a class="btn-default" href="#">Learn more</a>
    </div>
    <div class="col">
      <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
      <h2>Research & development</h2>
      <p>Use modern tools to turn your design into a web site</p>
      <a class="btn-default" href="#">Learn more</a>
    </div>
    <div class="col">
      <img src="http://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">
      <h2>Environmental modelling</h2>
      <p>Use modern tools to turn your design into a web site</p>
      <a class="btn-default" href="#">Learn more</a>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div class="footer">
  <div class="container">
    <p>&copy; Ucewp 2015</p>
  </div>
</div>
